section(class="container" ng-controller="UserShowController as userShowCtrl")
    div.row
        div.col-sm-6.col-md-4.col-md-offset-4
            h3 Detalle {{userShowCtrl.title}}
            table.table
                tbody
                    tr
                        td Id
                        td {{userShowCtrl.user._id}}
                    tr
                        td Nombre
                        td {{userShowCtrl.user.firstName}}
                    tr
                        td Apellido
                        td {{userShowCtrl.user.lastName}}
                    tr
                        td Usuario
                        td {{userShowCtrl.user.username}}