section.row
    div.col-sm-6.col-md-8
        h3 Lista de {{usersCtrl.title}}
            a(title="Agregar" class="pull-right" ng-click="usersCtrl.createUser()"): span.glyphicon.glyphicon-plus
        table.table.table-hover
            thead: tr
                th: span.glyphicon.glyphicon-pushpin
                th Usuario
                th Nombre
                th Apellido
            tbody
                tr(ng-repeat="user in usersCtrl.users" ng-click="usersCtrl.selectUser(user.username)" ng-class="{active:usersCtrl.isUserSelected(user.username)}")
                    td: span(class="glyphicon glyphicon-ok" ng-show="usersCtrl.isUserSelected(user.username)")
                    td {{user.username}}
                    td {{user.firstName}}
                    td {{user.lastName}}


    div.col-sm-6.col-md-4
        div.well.well-lg
            div(class="animate-switch-container" ng-switch="usersCtrl.action")
                div(class="animate-switch" ng-switch-when="show")
                    h4 Usuario
                        div.pull-right
                            a(title="Editar" ng-click="usersCtrl.action='edit'"): span.glyphicon.glyphicon-edit &nbsp
                            a(title="Eliminar" ng-click="usersCtrl.action='remove'"): span.glyphicon.glyphicon-remove
                    div(ng-include="'app/users/views/show.html'")
                    div.text-right
                        button(type="button" class="btn btn-default btn-sm" ng-click="usersCtrl.cancel()") Limpiar

                div(class="animate-switch" ng-switch-when="edit")
                    h4 Crear Usuario
                    div(ng-include="'app/users/views/form.html'")

                div(class="animate-switch" ng-switch-when="remove")
                    h5.text-center ¿Esta seguro que desea eliminar el usuario <strong>{{usersCtrl.user.username}}</strong>?
                    div.text-center
                        button(type="button" class="btn btn-default btn-sm" ng-click="usersCtrl.cancel()") No
                        button(type="button" class="btn btn-danger btn-sm" ng-click="usersCtrl.remove()") Eliminar

                div(class="animate-switch" ng-switch-when="new")
                    h4 Crear Usuario
                    div(ng-include="'app/users/views/form.html'")

                div(class="animate-switch" ng-switch-default) General Info
