section(class=" container login" ng-controller="ProfileController as profileCtrl")
    div.row
        div.col-sm-6.col-md-4.col-md-offset-4
            h3 Detalle {{profileCtrl.title}}
            table.table
                tbody
                    tr
                        td Id
                        td {{profileCtrl.user._id}}
                    tr
                        td Nombre
                        td {{profileCtrl.user.firstName}}
                    tr
                        td Apellido
                        td {{profileCtrl.user.lastName}}
                    tr
                        td Usuario
                        td {{profileCtrl.user.username}}


