table.table
    tbody
        tr
            td Id
            td {{usersCtrl.user._id}}
        tr
            td Usuario
            td {{usersCtrl.user.username}}
        tr
            td Nombre
            td {{usersCtrl.user.firstName}}
        tr
            td Apellido
            td {{usersCtrl.user.lastName}}
        tr
            td Roles
            td {{usersCtrl.user.roles}}
