section()
    h3 Lista de {{usersCtrl.title}}
        a(href="#/users/add" title="Agregar" class="pull-right"): span.glyphicon.glyphicon-plus
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th Nombre
                th Apellido
                th Nombre usuario
                th
        tbody
            tr(ng-repeat="user in usersCtrl.users")
                td {{user._id}}
                td {{user.firstName}}
                td {{user.lastName}}
                td {{user.username}}
                td
                    a(href="#/users/{{user.username}}" title="Detalles"): span.glyphicon.glyphicon-eye-open &nbsp
                    a(href="#/users/{{user.username}}/edit" title="Editar"): span.glyphicon.glyphicon-edit &nbsp
                    a(href="#/users/{{user.username}}/remove" title="Eliminar"): span.glyphicon.glyphicon-remove

