doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Page Not Found :(
        link(rel="stylesheet" href="css/error.css")
    body
        div(class="container")
            h1= message
                span  :(
            h2= error.status
            pre #{error.stack}
            hr
            p Sorry, but the page you were trying to view does not exist.</p>
            p It looks like this was the result of either:</p>
            ul
                li a mistyped address
                li an out-of-date link

            //<script>
            //    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
            //</script>
            //<script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
