nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavigationController as navigation")
    div.container
        div.navbar-header
            a(class="navbar-brand" href="#/home") {{navigation.title}}
        div(class="collapse navbar-collapse")
            ul.nav.navbar-nav
                li: a(href="#/users") User
            ul.nav.navbar-nav.navbar-right
                li: a(href="#/profile/{{navigation.user.username}}" title="profile") <span class="glyphicon glyphicon-user"></span> Perfil
                //li: a(href="#users/{{navigation.user.username}}" title="logout") <span class="glyphicon glyphicon-user"></span> Perfil
                li: a(href="/logout" title="logout") <span class="glyphicon glyphicon-log-out"></span> Salir
            p.navbar-text.navbar-right Bienvenido {{navigation.user.firstname}}
main(class="container")
    ng-view