extends layout

block content
    div.container.login
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h1 #{title}
                    a(href="/" class="pull-right"): span.glyphicon.glyphicon-home
                div.well.text-center
                    if error
                        p(class="text-danger") #{error}
                    h3 Iniciar con su cuenta local
                    div
                        form(class='form-signin', action='/signin', method='POST')
                            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
                            input(type='password', name='password' class='form-control', placeholder='Password', required)
                            br
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Iniciar sesión
                    p.text-right
                        a(href='/signup', class='') crear una cuenta
                    h3 o iniciar con otra cuenta
                    div
                        a(href="#")
                            img(class="img-thumbnail" src='images/login/google.png')
                        a(href="#")
                            img(class="img-thumbnail" src='images/login/oauth2.png')

